In [9]:
import pandas as pd

In [10]:
data = pd.read_csv("C:\\Users\\kuppa\\Downloads\\merged_nhanes_2007_2008.csv")
data.head()

,SEQN,LBXGLU,LBXIN,LBXSBU,LBXSCR,URDACT,URXUMA,URXUCR,SMQ020,SMQ040,...,ALQ121,ALQ130,RIAGENDR,RIDAGEYR,DMDEDUC2,INDFMPIR,DIQ010,DID040,DIQ050,DIQ070
0,109271.0,103.0,16.96,8.0,0.78,7.50,2.4,32.0,1.0,1.0,...,0.0,NaN,1.0,49.0,2.0,NaN,2.0,NaN,NaN,NaN
1,109274.0,154.0,13.52,11.0,0.74,10.67,12.8,120.0,2.0,NaN,...,4.0,2.0,1.0,68.0,4.0,1.20,1.0,54.0,1.0,1.0
2,109282.0,95.0,7.49,18.0,0.88,8.33,16.0,192.0,1.0,3.0,...,0.0,NaN,1.0,76.0,5.0,3.61,2.0,NaN,NaN,NaN
3,109286.0,92.0,16.46,9.0,0.55,9.19,6.8,74.0,2.0,NaN,...,NaN,NaN,2.0,33.0,5.0,1.36,2.0,NaN,NaN,2.0
4,109290.0,106.0,20.25,18.0,0.69,8.24,22.4,272.0,2.0,NaN,...,0.0,NaN,2.0,68.0,5.0,5.00,1.0,60.0,2.0,1.0

In [11]:
data.columns

Index(['SEQN', 'LBXGLU', 'LBXIN', 'LBXSBU', 'LBXSCR', 'URDACT', 'URXUMA',
       'URXUCR', 'SMQ020', 'SMQ040', 'ALQ111', 'ALQ121', 'ALQ130', 'RIAGENDR',
       'RIDAGEYR', 'DMDEDUC2', 'INDFMPIR', 'DIQ010', 'DID040', 'DIQ050',
       'DIQ070'],
      dtype='object')

In [12]:
data.isna().sum()

SEQN           0
LBXGLU       265
LBXIN        359
LBXSBU       346
LBXSCR       344
URDACT        99
URXUMA        99
URXUCR        99
SMQ020         0
SMQ040      2610
ALQ111       273
ALQ121       679
ALQ130      1532
RIAGENDR       0
RIDAGEYR       0
DMDEDUC2     186
INDFMPIR     630
DIQ010         0
DID040      3746
DIQ050      3745
DIQ070      3175
dtype: int64

In [16]:
data.shape

(4438, 21)